body {
  font-family: sans-serif;
  background-color: #565656;
  background-image: url(https://images7.alphacoders.com/129/1292925.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #b56663;
  padding: 10px;
  text-align: center;
}

.header h1 {
  color: #ffffff;
  margin: 0 0 15px;
}

.nav {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.nav li {
  display: inline;
  margin: 0 10px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header img {
  display: block;
  margin: 0 auto 15px auto;
}

.main-content {
  width: 500px;
  margin: 30px auto 0 auto;
  padding: 20px;
  border: 1px solid #dddddd;
  background-color: #dddddd;
}

h2 {
  text-align: center;
  color: #7facaa;
  margin-top: 10px;
}

h3 {
  color: #7facaa;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 3px;
  margin: 15px 0;
}

.featured {
  background-color: #565656;
  
}

.featured h4 {
  color: #ffffff;
  padding: 5px 0px 5px 5px ;
}

ul {
  padding: 0 0 0 50px;
}

.nav li{
  text-align: center;
}

.recipes {
  list-style-type: none;
  padding: 0;
}

.recipes img {
  float: left;
  padding-right: 10px;
}

.recipes li {
  border: 1px solid #b56663;
  padding: 10px 15px;
  margin-bottom: 10px;
}

.recipes h3 {
  border-bottom: 0;
  margin-top: 0;
}

.recipes a {
  color: #7facaa;
  text-decoration: none;
}

.recipes p {
  margin-bottom: 0;
}

.photo {
  list-style-type: none;
  padding: 0;
}

.photo li {
  display: inline;
  padding-left: 11px;
}

.footer p{
  text-align: center;
  font-weight: bold;
  font-size: 12px;

}

/* Form CSS */

form label, form input, form textarea {
  display: block;
}

form label {
  margin-bottom: 10px;
}

form input[type="text"],
form textarea {
  width: 500px;
  margin-bottom: 25px;
  border: 2px solid #7facaa;
  padding: 7px;
  font-size: 18px;
  box-sizing: border-box;
}

form textarea {
  height: 200px;
  resize: vertical;
}

form input[type="checkbox"],
form label[for="newsletter"] {
  display: inline;
  width: auto;
}

form input[type="submit"] {
  width: auto;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #e7e7e7;
  border: 1px solid #ccc;
  cursor: pointer;
}
main.css
3 KB

  